{ % load static % }
<!DOCTYPE html>
<html>

<head>
    <meta charset="BR-UTF-8">
    <meta name="description" content="Olá, esse é meu blog de filmes e seriados.">
    <title>BLOG</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}" />
</head>

<body>

    <h1> Bem vindo ao meu blog de filmes e seriados </h1>

    <p> Aqui colocarei a capa dos meus filmes e seriados preferidos! </p>

    <img src="{% static 'img/vis-a-vis.jpg' %}" alt="Vis a Vis" , style="width: 50%;">

</body>

</html>