{% include "extend/header.html" %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="BR-UTF-8">
    <meta name="description" content="Contato Amigo dos Bichos">
    <title>Amigo dos Bichos</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}" />
</head>

<body>

    <h1>Contato!!</h1>

    <p>Endereço: Rua dos Animais, 123</p><br>
    <p>Telefone: (123) 456-7890</p><br>
    <p>Email: contato@amigodosbichos.com</p><br>
    <p>Website: www.amigodosbichos.com</p><br>

    <h1>Horário de Funcionamento:</h1>

    <p>Segunda a Sexta: 9h às 18h</p><br>
    <p>Sábado: 10h às 15h</p><br>
    <p>Domingo: Fechado (atendimento de emergência mediante agendamento)</p><br>

    <h1>Redes Sociais:</h1>

    <p>Facebook: /AmigoDosBichosClinica</p><br>
    <p>Instagram: @AmigoDosBichosClinica</p><br>
    <p>Twitter: @AmigoDosBichos</p><br>

    <h1>Serviços Oferecidos:</h1>

    <p>Consultas de Rotina</p><br>
    <p>Cirurgias</p><br>
    <p>Vacinação</p><br>
    <p>Exames Laboratoriais</p><br>
    <p>Odontologia</p><br>
    <p>Tratamento de Doenças</p><br>
    <p>Nutrição Animal</p><br>
    <p>Internação</p><br>

    <p>Venha nos visitar e descubra como cuidamos com carinho e profissionalismo do seu melhor amigo! Seu pet merece o
        melhor, e na "Amigo dos Bichos," ele sempre será tratado com
        amor e cuidado.</p>

</body>

</html>

{% include "extend/footer.html" %}