{% include "extend/header.html" %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="BR-UTF-8">
    <meta name="description" content="Nossa página HOME, bem vindo ao Amigo dos Bichos">
    <title>Amigo dos Bichos</title>
    <link rel="stylesheet" href="{% static '/styles.css' %}" />
</head>

<body>

    <h1>História</h1>

    <p>A Clínica Veterinária "Amigo dos Bichos" foi fundada em 2023 pelo Dra. Nadyne Barros, um apaixonadoa por animais
        desde a infância. A Dra. Barros sempre sonhou em criar um lugar
        onde os animais fossem tratados com o amor e o cuidado que merecem.<br> Ela começou sua carreira como
        veterinária em
        uma pequena clínica e, ao longo dos anos, ganhou a confiança
        e o carinho de seus pacientes e seus donos. Com o passar do tempo, ela conseguiu juntar recursos suficientes
        para abrir sua própria clínica, que hoje se tornou uma referência
        na cidade.</p>

    <h1>Visão</h1>

    <p>Na "Amigo dos Bichos", nossa visão é proporcionar o mais alto nível de cuidado e bem-estar para os animais de
        estimação. Acreditamos que todos os animais merecem ser
        tratados com compaixão, respeito e atenção individualizada.<br> Nosso compromisso é oferecer serviços
        veterinários
        de qualidade, desde consultas de rotina até cirurgias
        complexas, sempre colocando o conforto e a saúde dos animais em primeiro lugar. <br>Além disso, buscamos educar
        os
        proprietários sobre a importância do cuidado adequado,
        da nutrição e da prevenção de doenças, para que os animais tenham uma vida longa e feliz ao lado de suas
        famílias.</p>

    <h1>Missão</h1>

    <p>Na Clínica Veterinária "Amigo dos Bichos", acreditamos que os animais são verdadeiros membros da família e
        merecem o melhor atendimento possível. Nosso compromisso
        é ser o parceiro confiável de todos os amantes de animais,<br> garantindo que seus amigos peludos recebam o
        cuidado
        que merecem, para que possam viver vidas saudáveis e
        felizes. </p>

    <img src="{% static 'img/petshop.png' %}" alt="Amigos dos Bichos" , style="width: 50%;">"

</body>

</html>

{% include "extend/footer.html" %}